@font-face {
	font-family: "Poppins-Bold";
	src: url("/fonts/Poppins/Poppins-Bold/Poppins-Bold.eot");
	src: url("/fonts/Poppins/Poppins-Bold/Poppins-Bold.eot?#iefix") format("embedded-opentype");
	src: url("/fonts/Poppins/Poppins-Bold/Poppins-Bold.woff") format("woff");
	src: url("/fonts/Poppins/Poppins-Bold/Poppins-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}